body {
    padding-top: 20px;
    /*padding-bottom: 20px;*/
}

.strong {
    font-weight: bold;
}

.flex-containter {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.flex-box-20 {
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    margin-bottom: 20px;
}
.flex-box-33 {
    display: flex;
    flex-flow: column nowrap;
    width: 33.333333%;
    margin-bottom: 20px;
}
.flex-box-50 {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    margin-bottom: 20px;
}
.flex-box-66 {
    display: flex;
    flex-flow: column nowrap;
    width: 66.6666666%;
    margin-bottom: 20px;
}
.flex-box-80 {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    margin-bottom: 20px;
}
.flex-box-100 {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 20px;
}

.float-right {
    float: right
}

.disabled {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

/*fixes a problem where empty dd cause dd's below it to be shifted up'*/
.dl-horizontal > dd:after {
    display: table;
    content: "";
    clear: both;
}

/*used to debug spaceing*/
.debug {
    outline: red solid 1px;
}

.gridStyle {
    margin-top: 50px;
    position:relative;
    border: 1px solid rgb(212,212,212);
    height: 300px;
}

.error {
    color: red;
}

.ul-tight { margin: 0; }