<div ng-controller="UserSearchCtrl">
    <ul class="nav navbar-nav"  >
        <li>
            <p class="navbar-text">
                First Name:<br />
                <span ng-bind="user.FirstName" class="strong"></span>
            </p>
        </li>
        <li>
            <p class="navbar-text">
                Last Name:<br />
                <span ng-bind="user.LastName" class="strong"></span>
            </p>
        </li>

        <li>
            <p class="navbar-text">
                Last 4 SSN:<br />
                <span ng-bind="user.SSN" class="strong"></span>
            </p>
        </li>
        <li>
            <p class="navbar-text">
                Last 4 ISO:<br />
                <span ng-bind="user.ISO" class="strong"></span>
            </p>
        </li>
        <li>
            <p class="navbar-text">
                Active:<br />
                <span ng-bind="user.Active" class="strong" ng-class="{error: user.Active == 'No'}"></span>
            </p>
        </li>
        <li>
            <p class="navbar-text">
                Type:<br />
                <span ng-bind="user.Type" class="strong"></span>
            </p>
        </li>
        <li ng-if="user.Photo" >
            <p class="navbar-text" >
                <img class="photo-med" ng-src="{{ user.Photo }}" />
            </p>
        </li>

        <li ng-if="!user.Photo" >
            <p class="navbar-text" >
                <img class="photo-med" src="images/no-photo.gif" />
            </p>
        </li>
        <li>
            <p class="navbar-text">
                User:<br />
                <input ng-if=" !strictSearch"
                       class="form-control"
                       style="margin-top: -5px"
                       type="text"
                       ng-model="userText.Normal"
                       typeahead="userText.Normal as u.Name for u in GetUsers($viewValue)"
                       typeahead-min-length="0"
                       typeahead-template-url="components/user-search/user-search-typeahead.html"
                       typeahead-editable="false"
                       typeahead-loading="loadingUsers"
                       typeahead-on-select="SelectUser($item, $model, $label)"
                       typeahead-wait-ms="0"
                       autofocus
                       >
                </input>
                <input ng-if="strictSearch"
                       class="form-control"
                       style="margin-top: -5px"
                       type="text"
                       ng-model="userText.Strict"
                       ng-change="SetUser()"
                       ng-delay="500"
                       class="form-control">
                </input>
                <label>
                    <input type="checkbox" ng-model="strictSearch" >Strict Search
                </label>
                <!--<span ng-show="loadingUsers"> Loading</span>-->
            </p>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

    </ul>
</div>