<!--http://plnkr.co/edit/me20JzvukYbK0WGy6fn4?p=preview-->
<a tabindex="-1">
    <img ng-if="match.model.Photo"
         class="photo-small"
         ng-src="{{ match.model.Photo }}" />
    <img ng-if="!match.model.Photo"
         class="photo-small"
         src="images/no-photo.gif" />
    <span ng-bind-html=" match.model.Name |  userHighlight:query | unsafe"></span> (<span ng-bind-html=" match.model.FirstName |  userHighlight:query | unsafe"></span> <span ng-bind-html=" match.model.LastName |  userHighlight:query | unsafe"></span>)
</a>