<div class="modal-header">
    <h3>Change Password: {{ username }}</h3>
</div>
<div class="modal-body">
    <form name="frm" class="form-horizontal" ng-submit="change(password1)">
        <fieldset>
            <!-- Password input-->
            <div class="control-group">
                <label class="control-label">Password</label>
                <div class="controls">
                    <input type="password" name="password1" ng-model="password1" ng-minlength=3 class="input-large" required>
                    <small class="error" ng-show="frm.password1.$error.required">
                        Password required.
                    </small>
                </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
                <label class="control-label">Verify Password</label>
                <div class="controls">
                    <input  type="password" name="password1" ng-model="password2" ng-minlength=3 class="input-large" required>
                    <small class="error" ng-show="password1 != password2">
                        Passwords don't match.
                    </small>
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for=""></label>
                <div class="controls">
                    <button class="btn btn-primary" ng-class="{ 'disabled': frm.password1.$invalid || frm.password2.$invalid || password1 != password2 }" type="submit">Change</button>
                </div>
            </div>

        </fieldset>
    </form>
    <!--<div> {{ result | json }} </div>-->
    <div ng-show="result != null"> Password Changed: {{result.PasswordChanged}}</div>
    <div ng-show="result != null" title="{{ result.LogMessage }}"> Message: {{result.UserMessage }}</div>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>